.signin-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  margin: auto;
}

.container {
  height: 100%;
}

.form {
  background-color: white;
  opacity: 87%;
  box-shadow: rgb(0 0 0) 0px 2px 8px 5px;
  /* background-color: #fff; */
  padding: 50px 20px;
  /* border: 2px solid var(--main-color); */
  margin-top: 7rem;
  color:black
}

.button-login {
  width: 70%;
  font-weight: bolder;
  font-family: "Gowun Batang", serif;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  
}
.btn {
  width: 100%;
  height: 10%;
  margin: auto;
  margin-bottom: 5vh;
  background-color: #393737;
  color: white;
}

.btn:hover {
  background-color: var(--main-color);
}

