// #headerTitle {
//   float: left;
//   width: 200px;
// }

#cartButton {
  width: 150px;

 margin: 55px;
 color:rgb(150, 30, 30);
}

html {
  background-color: rgb(244, 227, 229);
}

#catBar {
  margin-top: 35px;


}

// #footer {
//   margin-top: 200px;
// }