#img-cards1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}



#img-cards2{
    display: flex;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 7%;
    text-align: center;

}

.img-card{
    margin-right: 20px;
    margin-top: 10px;
    border: 0;
    background-color:whitesmoke;

}


.card-img{
    
    border-radius: 50%;
    text-align: center;
    width: 250px;
    height: 250px;
    margin-right: 80px;
    margin-left: 10%;
    transition-duration: 0.4s;

}

.card-img:hover{
    border-radius:0;
    width: 310px;
    height: 300px;
    margin-left: 1.04%;
    transition-duration: 0.4s;
}



.name{
    font-size: 30px;
}



.social-icon:hover{
    transform: translateX(0px) rotate(360deg) ;
    transition-duration: 0.4s;

}


#para{
    text-align: justify;
    font-weight: bolder;
    font-size: 17px;
    padding-top: 15px;
}