@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

:root{
    --main-color:rgb(211, 51, 51)
}



.home{
    position:relative;
    height: 90vh;
    width: 100%;
   /* background: rgb(228, 215, 190); */
    /* background: linear-gradient(0deg, rgba(165,143,170,1) 0%, rgba(237,237,208,1) 100%); */
    /* background: linear-gradient(0deg, rgb(180, 174, 137) 0%, rgba(237,237,208,1) 100%);  */

}
/* 
.custom-shape-divider-bottom-1627664528 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg); 
} */

/* .custom-shape-divider-bottom-1627664528 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 89px;
} */

/* .custom-shape-divider-bottom-1627664528 .shape-fill {
    fill: #F8F9FA;
} */

.nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-brand h1{
    font-family: 'Gowun Batang';
    font-weight: bolder;
 color :var(--main-color);
 /* text-shadow: 2px 2px 3px #232323 */
}

.navbar-brand span{
    color:rgb(255, 255, 255);
}

.nav-link{
 
    border: none;
  
    text-align: center;
  
    display: inline-block;
    font-size: 16px;
    margin: 9px 15px;
    cursor: pointer;
  
color: #F8F9FA !important;
    font-family: 'Gowun Batang', serif;
    border-radius:15%;
    font-weight: bolder;
    font-size: 1.25rem;
    /* text-shadow: 1px 1px 2px #ffffff */
}
.nav-link:hover{
    color:var(--main-color) !important;
}

.logo{
    width: 60px;
    height: 60px;
}

.display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: relative;
    width: 100%;
    height: 100%;
   
  
}

.image img{
    position: relative;
    width: 100%;
    height: 100%;

  
  
}

.image .header-text{
position: absolute;
width: 40%;
top: 20%;
left: 10%;
}

.image .header-text h1 {
    font-family: 'Gowun Batang';
    font-weight: bolder ;
    text-shadow: 2px 2px 3px #232323
}

.image .header-text h1 span{
    color: var(--main-color);
    font-weight: bolder ;
}

.image .header-text p{
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    padding-top: 1vh;

}

 .sing-out{
    /* background-image: linear-gradient(110deg,   #4b3d3d   30%,#66bfbf 70%)!important; */
     border-radius: 10px;
     margin-left: 300px;
    width: 120px;
  height: 50px;

    font-weight: bolder;
  
    text-align: center !important;
  

}  


/* .button {
   margin-left: 0;
    padding-left: 25;
   padding-right: 25;
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
   border-width: 1.5;
    border-color: 'white';
    border-Style: 'solid';
  } */
  .userlogin {
    background-image: linear-gradient(50deg, #141010 40%,#66bfbf 70%) !important ;
    border-radius: 5px !important;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    /* margin-left: 47%; */
    font-size: 20px;
    width: 100px;
  }
  
  .userh3 {
    /* margin-left: -20px; */
    color: white;
  }
/*   
  .userborder {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
    border: 2px rgba(255, 255, 255, 0.445) dotted;
    background-color: rgba(255, 255, 255, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .h2class {
    margin: 20px 60px 40px 60px;
    text-align: center;
  }
  





  .NewStyleCard{
 
    /* background-image: linear-gradient(110deg,    #66bfbf 30%, #4b3d3d 70%); */
    margin: 20;
    /* border-width: 1vh; */
    /* border-color: black;
    border-style: solid; */
    /* margin-top: 10vh; */
    height:85vh;
  

/* 
    display: 'inline-block',
    width: 300,
    height: 450,
    height: 470,
    margin: 35,
    borderWidth: 3,
    borderColor: '#24527a', */

    /* button: {
        marginLeft: 0,
        paddingLeft: 20,
        paddingRight: 20,
        background: '#132743',
        borderWidth: 1,
        borderColor: 'white',
        borderStyle: 'solid',
      }, */
      /* <CardMedia
      component="img"
      alt="Contemplative Reptile"
      height="400"
      height="750"
      image={selectedProduct.image}
      title="Contemplative Reptile"
    /> */
  }

  .buttonJoin{
    background-color:#393737 !important ;
    border-Color: 'white';
    border-Style: 'solid';
    border-radius: 15px !important;
    border: none;
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25rem;
    color: #f1fcfd;   
  }


  .HomeTesxt{
      background-color: #4b3d3d88;
      width: 60rem;
     
  }

 

  .carousel-control-next, .carousel-control-prev{
    position: absolute;
    top: 0;
    background-color: black;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5%;
    padding: 0;
    color: #fff;
    text-align: center;
    /* background: 0 0; */
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
  }


  body{
    background: #f1fcfd !important;
  }

  .carousel-slide{
    width: 90%;
    /* margin-left: 6.5rem; */

    margin-left: auto;
    margin-right: auto;
  }