@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");

/* .col{
background-color: #EDE0D4;
} */

/* .pic{
  height: 110vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
} */
/* .card-title {

color: var(--main-color);
text-shadow: 1px 1px 2px #232323;
font-weight: bolder;
}

.card-text {
padding-top: 2vh;

font-weight: bolder;
font-family: 'Gowun Batang', serif;

}

.image-card .pic{
  max-height: 40vh !important;
}
.card-img-top {
  max-height: 60vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button {
 width: 30%;
 margin: auto;
 margin-bottom: 5vh;
}

.button:hover{
 background-color: var(--main-color) !important;
} */
.pic {
  width: 22.15rem;
  height: 20rem;
}

.image-card .pic {
  max-height: 40vh !important;

  height: 750px;
}
.card-img-top {
  max-height: 60vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card-text {
  padding: 1rem;
  /* padding-top: 3vh; */

  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.titleStyle {
  padding: 1rem;
  font-weight: bold;
  font-family: serif;

  font-size: 2rem;
  color: rgb(211, 51, 51);
  text-align: center;
}
.g-4 {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.cards {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.card-body {
  background-color: #f1fcfd;
  flex: 1 1 auto;
  padding: 0rem 0rem;
}
