#img-cards1{
    display: flex;
    /* margin-left: 10%;
    margin-right: 10%; */
    text-align: center;


}



#img-cards2{
    display: flex;
    /* margin-left: 10%;
    margin-right: 10%; */
    text-align: center;
    margin-top: 20px;

}




.card-img{

   
    width: 2020rem;
    height: 20rem;
  


}





.name{
    font-size: 30px;
}



.social-icon:hover{
    transform: translateX(0px) rotate(360deg) ;
    transition-duration: 0.4s;

}


#para{
    text-align: justify;
    font-weight: bolder;
    font-size: 17px;
    padding-top: 15px;
}
.social-icon{
    margin: 0.7rem;
    margin-top: 1.5rem;
}