.signin-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80vh;
    margin: auto;
}
.form-product{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FFF;
    padding: 20px 50px;
    border: 2px solid var(--main-color) ;
}
.addButton{
  margin-bottom: 50vh;
  height: 100px;
  width: 100px;
}

.button-login{
    
    width: 70%;
    font-weight: bolder;
    font-family: 'Gowun Batang', serif;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}
.button-add{
    
    width: 90%;
    font-weight: bolder;
    font-family: 'Gowun Batang', serif;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}

.btn:hover{
    background-color: var(--main-color);
   }

   .flip-card {
    display: inline-block ;
    background-color: transparent;
    width: 350px;
    height: 400px;
    /* perspective: 1000px; */
/*    
   margin-top: 120px; */
    /* box-shadow: rgb(100, 30, 30) 0px 15px 25px, rgb(150, 30, 30) 0px 9px 9px; */
  
  }
  .NewStyleCardP{
    background-image: linear-gradient(110deg,    #f0fcfc81 30%, #ffffff 70%);
    display: inline-block ;
    
    margin: 10px;
    margin-top: 170px;
    border-color: black;
    border-style: solid;
    /* margin-top: 10vh; */
    width: 350px;
    height: 400px;}

  .flip-card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    
    /* background-color: #bbb; */
    color: black;
  }
  
  .flip-card-back {
    background-image: linear-gradient(110deg,    #bcc9c9 30%, #4b3d3d 70%);
    transform: rotateY(180deg);
  }
.buttonD{
  background-image: linear-gradient(50deg, rgba(250, 74, 74, 0.801) 40%, #c4cfcf 70%) !important ;
}
.buttonU{
  background-image: linear-gradient(50deg, #c4cfcf 40%,rgba(250, 74, 74, 0.801) 70%) !important ;
}


.signin-form1{

  display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80vh;

}