
.buttonD{
  background-color: #393737 !important ;
  color: #f1fcfd;
padding-top:-3rem ;
height: 2rem;


}
.buttonU{
  background-color: #393737!important ;
  color: #f1fcfd;
  height: 2rem;
} 

.signin-form1{ 

 display: flex;
  position: relative;
  left: 30rem;
  bottom: 36rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80vh;
}

.cardSize{
  width: 50%;
  margin: 10rem;
  
}

.info{
  position: relative;
  left: 30rem;
  bottom: 22rem;
}

.up-de{
  margin-left: 12rem;
  
}

.allCards{
  border: solid 1px;
  height: 25rem;
  margin: 1rem;
  
}
.title{
  position: relative;
  right: 6rem;
  padding: 1rem;
  font-weight: bold;
  font-family:serif;

  font-size: 2rem;
  color:rgb(211, 51, 51);
 
}

.priceColor{
  color: rgb(211, 51, 51);
  
}
.desc{
  position: relative;
  right: 5rem;
  
  
  font-weight: bolder;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgProduct{
  width: 286px;
  height: 368px;
}

.form-product{
  box-shadow: #393737;
 
  padding: 20px 50px;
  border: 2px solid var(--main-color) ;
  position: relative;
  left: 38rem;
  bottom: 23rem;
  height: 63vh;
}

.form-product1{
  box-shadow: #393737;
 background-color: white;
  padding: 20px 50px;
  border: 2px solid var(--main-color) ;
  position: relative;
  left: 24rem;
  bottom: 25rem;
 
  height: 63vh;


}
.button-add{
    
  width: 90%;
  font-weight: bolder;
  font-family: 'Gowun Batang', serif;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
 

}
.addButton{
  width: 15%;
  height: 9%;
  margin: auto;
  margin-bottom: 5vh;
  position: fixed;
  left: 68rem;
  bottom: 28rem;
  background-color: #393737;
}
.card-text{
  font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2rem;
}

.card-title{
 
  font-weight: bold;
  font-family:serif;

  font-size: 2rem;
  color:rgb(211, 51, 51);
  text-align: center;

  margin-top: 1rem;
}
.text-muted {
  color: #6c757d!important;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-content: space-around;

}
.img-fluid {
  max-width: 100%;
  height: 19rem;
  width: 17rem;
}